!!!
%html
	%head
		%link(rel="stylesheet" href="style.css")
		%title Weather Connoisseurs
	%body

	#wrapper
		%h1 Welcome...
		%p
		to my website made with Sinatra and HAML
	
	%form
		%input.where{:type => "search", :name => "where", :placeholder => "City"}
		%input{:type => "submit", :value => "Search"}

	#footer
		%br 
		%br
		%p= say
		%a{:href => "http://localhost:9393/graphs/yesterdaysf.svg"} ...and this will redirect you to a graph of weather conditions yesterday in SF!
		
